.about {
  padding-top: 160px;
  position: relative;
}
.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2.5rem, -8.731rem + 17.548vw, 7.063rem);
}
.about__image {
}
.about-img-abs {
  position: absolute;
  left: 0;
  top: -23%;
}
.about__text {
  max-width: 607px;
  width: 100%;
}
.about__text--descr {
  font-weight: 250;
  font-size: clamp(0.875rem, 0.782rem + 0.381vw, 1.125rem);

  line-height: clamp(1.375rem, 1.212rem + 0.667vw, 1.813rem);
  // line-height: 160%;
  color: #000;
  padding-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column;
  }
  .about__image {
    img {
      width: clamp(20.5rem, 17.194rem + 13.565vw, 25.875rem);
    }
  }
}
@media screen and (max-width: 768px) {
  .about-img-abs {
    width: clamp(18.75rem, 4.306rem + 59.259vw, 32.75rem);
    top: -9%;
  }
}
