.conditions {
  padding-top: 170px;
}
.conditions__title {
  font-weight: 700;
  font-size: clamp(1.875rem, 1.461rem + 1.698vw, 3rem);
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding-bottom: 80px;
}
.conditions__items {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: 275px 275px;
  align-items: center;
  justify-content: center;
  row-gap: clamp(3.75rem, 0.673rem + 4.808vw, 5rem);
  column-gap: clamp(0.313rem, -9.841rem + 15.865vw, 4.438rem);
}
.conditions__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    height: clamp(6.25rem, 5.693rem + 2.286vw, 7.75rem);
  }
}
.conditions__item:first-child {
  .conditions__item--title {
    transform: translateY(-8px);
    padding-bottom: 45px;
  }
}
.conditions__item:nth-child(2) {
  .conditions__item--title {
    br {
      display: none;
    }
  }
}
.conditions__item--title {
  font-weight: 400;
  font-size: clamp(1rem, 0.814rem + 0.762vw, 1.5rem);
  text-align: center;
  color: #000;
  padding-top: clamp(1rem, 0.629rem + 1.524vw, 2rem);
  padding-bottom: 16px;
}
.conditions__item--btn {
  border-radius: 12px;
  padding: 14px 32px;
  box-shadow: 0 4px 12px 0 rgba(238, 96, 156, 0.25);
  font-weight: 500;
  font-size: clamp(0.813rem, 0.789rem + 0.095vw, 0.875rem);
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: white;
  text-decoration: none;
  position: relative;
  // z-index: 2;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.conditions__item--btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  padding: 2px;
  background: linear-gradient(90deg, #9158d0 0%, #f180ff 50%, #ff7be7 100%);
  z-index: -1;
  border-radius: 13px;
  transition: all 0.3s ease;
}
.conditions__item--btn:hover {
  background: linear-gradient(90deg, #9158d0 0%, #f180ff 50%, #ff7be7 100%);
}
.conditions__item:nth-child(3),
.conditions__item:nth-child(4),
.conditions__item:nth-child(4),
.conditions__item:nth-child(6),
.conditions__item:nth-child(8) {
  .conditions__item--title {
    br {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .conditions__items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .conditions__item:nth-child(7),
  .conditions__item:last-child {
    transform: translateX(150px);
  }
  .conditions__item:nth-child(2) {
    .conditions__item--title {
      br {
        display: block;
      }
    }
  }
  .conditions__item:nth-child(5) {
    .conditions__item--title {
      padding-top: 30px;
    }
    img {
      transform: translateY(10px);
    }
  }
  .conditions__item:nth-child(4),
  .conditions__item:nth-child(6) {
    .conditions__item--title {
      padding-bottom: 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  .conditions__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .conditions__item:nth-child(7),
  .conditions__item:last-child {
    transform: translateX(0px);
  }
  .conditions__item:nth-child(5) {
    .conditions__item--title {
      padding-top: clamp(1rem, 0.629rem + 1.524vw, 2rem);
    }
    img {
      transform: translateY(0px);
    }
  }
  .conditions__item:nth-child(4),
  .conditions__item:nth-child(6) {
    .conditions__item--title {
      padding-bottom: 16px;
    }
  }
  .conditions__item:nth-child(3),
  .conditions__item:nth-child(4),
  .conditions__item:nth-child(5),
  .conditions__item:nth-child(6),
  .conditions__item:nth-child(8) {
    .conditions__item--title {
      br {
        display: block;
      }
    }
  }
  .conditions__item:nth-child(7) {
    .conditions__item--title {
      padding-bottom: 32px;
    }
  }
}
